* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

.invisible {
    display: none;
}

@font-face {
    font-family: Welcome;
    src: url('fonts/Welcome.ttf');
}

@font-face {
    font-family: Mariupol-Regular;
    src: url('fonts/Mariupol/Mariupol-Regular.ttf');
}

body {
    background-image: url('img/background-big3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #272727;
    height: 100vh;
}

.preview { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome {
    height: 100vh;
    margin: auto;
    background-color: #14a76c;
    display: flex;
    align-items: center;
}

.welcome-text {
    color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-text-first-line {
    margin-left: -20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Welcome;
    font-size: 150px;
    color: #FFE400;
    text-shadow: 5px 2px 7px rgb(2, 26, 4);
    z-index: 100;
}

.welcome-text-first-line img {
    height: 7vh;
    padding: 1px;
   
}

.welcome-text-second-line {
    margin-top: -40px;
    padding: 20px;
    color: #272727;
    font-family: Mariupol-Regular;
    text-transform: uppercase;
    font-size: 28px;
    z-index: 100;
}

.go {
    width: 80%;
    position: relative;
    text-align: center;
}

.welcome-button {
    padding: 0 20px;
    background-color: rgba(20, 167, 108, 0);
    color: #FFE400;
    font-family: Welcome;
    font-size: 70px;
    line-height: 0.7em;
    opacity: 0;
    z-index: 200;
}

.welcome-button:hover {
    color: #272727;
}

.line {
    position: absolute;
    z-index: 99;
}

.orange {
    background-color: #f5652f;
    bottom: 0;
    right: 0;
    width: 3px;
    height: 80vh;
    margin-bottom: -40px;
}

.yellow {
    background-color: #FFE400;
    bottom: 0;
    right: 0;
    width: 65vw;
    height: 3px;
    margin-bottom: -15px;
}

.light-gray {
    background-color: #747474;
    bottom: 0;
    right: 0;
    width: 63vw;
    height: 2px;
    margin-bottom: -21px;
    margin-right: 20px;
}

.gray {
    background-color: #272727;
    top: 0;
    left: 0;
    width: 60vw;
    height: 1px;
    margin-top: -15px;
    margin-left: -10px;
}

.white {
    background-color: white;
    top: 0;
    left: 0;
    width: 2px;
    height: 43vh;
    margin-top: -15px;
}